.content-link {
	position: relative;
	color: #ffffff;
	text-decoration: none;
}

.content-link::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #6d28d9;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.content-link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

// card styles
.card-container {
	display: inline-block;
	// margin: 0 auto;
	// padding: 0 12px;
	perspective: 900px;
}
.card {
	position: relative;
	//   width: 100px;
	//   height: 100px;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
}

.front,
.back {
	position: absolute;
	// top: 0;
	// left: 0;
	// width: 100px;
	// height: 100px;
	border-radius: 5px;
	color: white;
	// box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
	// 	0 17px 17px 0 rgba(0, 0, 0, 0.15);
	backface-visibility: hidden;
}

.card-container:hover .card {
	transform: rotateY(180deg);
}
.back {
	transform: rotateY(180deg);
}
