.content-link {
	position: relative;
	color: #ffffff;
	text-decoration: none;
}

.content-link::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #6d28d9;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.content-link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
